
body  {
	background-color: #990033;

}

.jumbotron {
	background-color: #ccffb3;
}


h1, p, h3 {
	font-family: "Noto Sans CJK SC Thin";
	text-align: center;
	color: #0f0f0a;
}

img {
	width: 400px; height: 400px;
	display: block;
	margin: auto;
}*/



h1 {
  -webkit-animation-duration: 30s;
  -webkit-animation-delay: 0s;
  text-align: center;
}

p,h1,h3 {
	text-align: center;
}